<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Layout Pictures</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="box i-one"><img src="1.jpg" alt=""></div>
        <div class="box i-two"><img src="2.jpg" alt=""></div>
        <div class="box i-three"><img src="3.jpg" alt=""></div>
        <div class="box i-four"><img src="4.jpg" alt=""></div>
        <div class="box i-five"><img src="5.jpg" alt=""></div>
        <div class="box i-six"><img src="6.jpg" alt=""></div>
        <div class="box i-seven"><img src="7.jpg" alt=""></div>
        <div class="box i-eight "><img src="8.jpg" alt=""></div>
        <div class="box i-nine"><img src="9.jpg" alt=""></div>
    </div>
</body>
</html>