<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overflow</title>
</head>
<body>
    <div class="box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit temporibus facere, optio eveniet expedita mollitia natus. Asperiores alias similique porro?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Suscipit temporibus facere, optio eveniet expedita mollitia natus. Asperiores alias similique porro?
        </p>
    </div>

    <style>
        .box{
            height: 200px;
            width: 150px;
            border: 2px solid bisque;
            overflow: auto;
            padding: 3px;
        }
    </style>
</body>
</html>